<h1>Your Daily Forecasts</h1>
<h3>Current Temperature: <%= @temperature %></h3>
<h3>Five-day Forecast:</h3> 
<% @five_day_forecasts[0..4].each do |five_day_forecast| %>
<p><%= five_day_forecast["date"] %></p>
<p>High: <%= five_day_forecast["high"] %></p>
<p>Low: <%= five_day_forecast["low"] %></p>
<p><%= five_day_forecast["text"] %></p>
<% end %>